extends layout.pug

block content

  article.portfolio-intro

    h1 Hello World!

    p  
      | Below are some of the recent projects that I have been working on.
      br
      | Check back often! As I continue my journey into the Full Stack world!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        - const { id , project_name, image_urls } = project
        .cell
          a(href=`project/${id}`)
            img.thumbnail(src=`${image_urls[0]}`, alt=`Thumbnail of ${project_name}`)
            h5= project_name